<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @maintenance_service %>

    <%= link_to "Editar este servicio de mantenimiento", edit_car_maintenance_service_path(@car, @maintenance_service), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Volver a servicios de mantenimiento", car_maintenance_services_path(@car), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Eliminar este servicio de mantenimiento", car_maintenance_service_path(@car, @maintenance_service), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
